@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .hiddenT {
        transform: translateY(100%);
        transition: transform ease-out 0.3s;
    }
    
    .showT {
        transform: translateY(0);
        transition: transform ease-in 0.3s;
    }
}