.text {
    padding-bottom: 10px;
    padding-top: 5px;
    font-family: knewave;
    font-size: 2rem;
    border-right: .15em solid #B2D4F4;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

#gif {
    width: 600px;
}
