#root {
  max-width: 1250px;
  margin: auto;
  padding: auto;
  text-align: center;
}

@font-face {
  font-family: knewave;
  src: url(./../public/Knewave-Regular.ttf);
}

h1{
  margin: 0px;
}

.text {
  padding-bottom: 10px;
  padding-top: 5px;
  font-family: knewave;
  font-size: 2rem;
  border-right: .15em solid #B2D4F4;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  animation: blink 1s steps(1) infinite;
  animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
}

#gif {
  width: 380px;
}

.social-media-container {
  margin-top: 10px;
}

.social-media {
  margin: 0px 5px 0px 5px;
  padding: 0px;
}

.logo-social-media {
  height: 40px;
}

.logo-social-media:hover {
  background-color: #B2D4F4;
  border-radius: 50px;
}

.logo {
  margin: 0px;
  padding: 0px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}